<a href="https://colab.research.google.com/github/promise32/myrep2/blob/child2/DataScienceEcosystem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- Jupyter notebook architecture implements a two process model with a karnel and a client

- The notebook server is responsible for saving and loading the notebook

- Jupyter notebook is like a scientist record that allows a data scientist record their data experiment and results that can be used by others

- A jupyter notebook file allows you to combine a descriptive text, code blocks and code output in a single file

- jupyter Environment includes visualization libraries stored in jupyter notebook such as pandas, numpy and matplotlib

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Tensor flow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|jupyter Lab|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5

17

In [8]:
200/60

3.3333333333333335

## Author
Promise